@import 
url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
body{
    background-color: rgb(181, 239, 124);
}
h1{
    font-size: oblique;
    color:beige;
    background-color: brown;
    padding-right: 5%;
    line-height: 1.1;
    margin-bottom: 30px;
    
}

img{
    width:50vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position:center;
}
p{
    font-family: 'Caveat';
}
h2{
    line-height: 1.1;
    margin-bottom:30px;
    padding: 15% 0%;
}
.button {
    margin-top:20px;
}

.botton a{
    display: inline-block;
    padding: 10px 80px;
    background: orange;
    border-radius: 30px;
    text-decoration:dashed;
    color: black;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s 
    ease;
  }
  
  .button a:hover {
    background: black;
    color: rgb(250, 178, 44);
  }
    
  @media screen and (max-width: 1024px) {
    .button a {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 420px) {
    .button a {
      text-align: center;
    }
  }


   
